// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.masthead {
  .masthead-avatar {
    width: 15rem;
  }

  .masthead-heading {
    a {
      color: #fff;
    }
  }
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

.block_result {
  position: relative;
  padding: 20px 0;
}

.block_result.second {
  padding: 80px 0;
}

.block_result.third {
  padding: 160px 0;
}

.head_block {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}

.result_col {
  border: 1px solid #000;
}

.block_result hr {
  margin-right: 65px;
}

.game_score {
  position: absolute;
  top: 33%;
  right: 1%;
  font-size: 26px;
}

.game_score.semi-final {
  top: 42%;
}

.game_score.final {
  top: 45%;
}



